/* utils - container */

.row {
    margin-left: -$gutter;
    margin-right: -$gutter;
    &:before {
        display: table;
        content: " ";
    }
}

.container {
    width: $container-width;
    margin: 0 auto;
    padding: 0 $gutter;
    &:before {
        display: table;
        content: " ";
    }
}