/* componetens - button */

.btn {
    padding: 5px 12px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}

.btn-sm { // todo mixint írni rá
    font-size: 10px;
    padding: 3px 5px;
}

.btn-lg { // todo mixint írni rá
    font-size: 18px;
    padding: 10px 15px;
}

.btn-primary{ // todo mixint írni rá
    border: $btn-border-width solid $btn-primary-border-color;
    background: $btn-primary-background;
    color: $btn-primary-color;

    &:hover {
        border-color: $btn-primary-hover-border-color;
        background: $btn-primary-hover-background;
        color: $btn-primary-hover-color;
    }
}

.btn-secondary{ // todo mixint írni rá
    border: $btn-border-width solid $btn-secondary-border-color;
    background: $btn-secondary-background;
    color: $btn-secondary-color;

    &:hover {
        border-color: $btn-secondary-hover-border-color;
        background: $btn-secondary-hover-background;
        color: $btn-secondary-hover-color;
    }
}