/* layout - header */

header {
    padding: 15px 0;
    margin-bottom: 15px;
    background: $header-background;
}

.header-top-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.header-position {

}